@model BM_INFOTRADE_ASP.NETCORE_6.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you want to Delete this? </h3>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publication_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publication_Year)
        </dd>
    </dl>
</div>
<div>
    
@*    <input type ="submit" value ="Delete" class ="btn-danger" />
*@    <a asp-action="DeleteConfirmed" asp-controller="Book" asp-route-id="@Model.Id">Delete</a>
    <a asp-action="Index">Back to List</a>
</div>
